<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ParseTest</servlet-name>
    <servlet-class>com.test.hello.ParseTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParseTest</servlet-name>
    <url-pattern>/ParseTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetArtists</display-name>
    <servlet-name>GetArtists</servlet-name>
    <servlet-class>com.test.hello.GetArtists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArtists</servlet-name>
    <url-pattern>/GetArtists</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchTest</display-name>
    <servlet-name>SearchTest</servlet-name>
    <servlet-class>com.test.hello.SearchTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchTest</servlet-name>
    <url-pattern>/SearchTest</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  <welcome-file>Search.jsp</welcome-file>
  </welcome-file-list>
</web-app>