<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <description></description>
    <display-name>GetArtists</display-name>
    <servlet-name>GetArtists</servlet-name>
    <servlet-class>com.spotify.api.GetArtists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArtists</servlet-name>
    <url-pattern>/GetArtists</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Search.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetArtistDetails</display-name>
    <servlet-name>GetArtistDetails</servlet-name>
    <servlet-class>com.spotify.api.GetArtistDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetArtistDetails</servlet-name>
    <url-pattern>/GetArtistDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewArtistDetails</display-name>
    <servlet-name>ViewArtistDetails</servlet-name>
    <servlet-class>com.spotify.api.ViewArtistDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewArtistDetails</servlet-name>
    <url-pattern>/ViewArtistDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRelatedArtistDetails</display-name>
    <servlet-name>GetRelatedArtistDetails</servlet-name>
    <servlet-class>com.spotify.api.GetRelatedArtistDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRelatedArtistDetails</servlet-name>
    <url-pattern>/GetRelatedArtistDetails</url-pattern>
  </servlet-mapping>
</web-app>